<div class="contact-form">
  <img class="profile-img" src="{{ "assets/img/prof_moi_500.png" }}" alt="Jonathan Serra" />
  <a href="#" data-toggled="true" onclick="toggleAbout(this, event)">
    <i class="fa fa-comment profile-icon" id="showAbout" aria-hidden="true"></i>
    <i class="fa fa-times-circle profile-icon contact-hidden" id="hideAbout" aria-hidden="true"></i>
  </a>
  <div class="about-me contact-hidden" id="aboutMe">
    <p>Bonjour,</p>
    <p>
      Je vous propose de collaborer sur des petits projets ainsi que des projets d'envergure. Je suis spécialisé dans la gestion de projets logiciels.
    </p>
    <p>
      Je m'assure toujours d'avoir une communication ouverte et intelligible en adaptant mon discours selon les domaines d'expertise de mes interlocuteurs. La discussion verbeuse où il faut se munir d'encyclopédies spécialisées ne fait pas partie des mes registres, je privilégie la clarté et l'efficacité dans l'échange, c'est pour moi l'origine de la réussite d'un projet.
    </p>
    <p>
      N'hésitez pas à me contacter avec le formulaire juste en dessous.
    </p>
    <p>
      Jonathan
    </p>
  </div>
  <h1>Contactez moi</h1>
  <form name="contactForm">
    <input type="hidden" name="gre-token" value="" />
    <input type="email" name="email" placeholder="Votre adresse email" required />

    <textarea name="message" placeholder="Votre message" rows="5"></textarea>

    <div id="pgp">
      <input type="checkbox" name="doesEncrypt" checked />
      <span>Chiffrer le message avec PGP</span>
      <i>(En cochant la case votre message sera automatiquement chiffré avec <a href="/assets/pgp.txt" class="link" target="_blank">ma clé publique</a>)</i>
    </div>
    <i id="filledMessage">J'ai pré-remplie le formulaire pour vous, renseignez votre adresse email et envoyez</i>
    <div id="sendContact">
      <input type="submit" class="showoff-button send-btn" value="Envoyer">
    </div>
  </form>
</div>
