<div id="header-container">
  <video autoplay loop muted>
    <source src="/assets/bg.mp4" type="video/mp4">
  </video>

  <div class="header">
      <h1 class="site-title">
        Votre Développeur Freelance
      </h1>
      <ul class="jobs">
        <li><h2 class="site-description">Développeur</h2></li>
        <li><h2 class="site-description">Devops</h2></li>
        <li><h2 class="site-description">Gestion de projets</h2></li>
      </ul>

      <ul class="cat">
        <li><h3>Golang</h3></li>
        <li><h3>Docker</h3></li>
        <li><h3>React</h3></li>
        <li><h3>Blockchain</h3></li>
      </ul>

      <div class="header-icons">
        <a aria-label="Me contacter" href="#contact" data-scroll><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Sur Twitter" target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="Sur YouTube" target="_blank" href="https://www.youtube.com/channel/UCjvOu6faxxmqE6ZHTLR5qmw/?sub_confirmation=1"><i class="icon fa fa-youtube" aria-hidden="true"></i></a>
        <a aria-label="Sur Github" target="_blank" href="https://github.com/Slals"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="Sur Linkedin" target="_blank" href="https://www.linkedin.com/in/serrajonathan/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="showoff-button" href="#services" data-scroll>Mes services</a>
      </div>
  </div>
  <h1 class="my-services">Mes services</h1>
  <a class="down" href="#services" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
