<ul>
{% for post in site.posts %}
    <li class="article-overview">
      <img src="{{ post.image }}" alt="{{ post.title }}" />
      <div class="overview-content">
        <h2 class="title">{{ post.title }}</h2>
        <p class="date">
          Dernières modifications le {% include date_localize.html date=post.date %}
        </p>
        <p class="description">{{ post.description }}</p>
        <a class="link" href="{{ post.url }}" target="_blank">Voir l'article →</a>
      </div>
    </li>
{% endfor %}
</ul>
