#articles-overview {
  padding-top: 75px;
  width: 100%;
  height: 100vh;
  background-color: $main;
  margin: 0 auto;
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
  }
  li.article-overview {
    width: 350px;
    padding: 25px;
    img {
      width: 100%;
      box-shadow: 7px 10px 15px rgba(10, 10, 10, 0.2);
    }
    .overview-content .title {
      font-size: 18pt;
      margin: 0;
      padding: 0;
    }
    .overview-content p {
      font-size: 12pt;
    }
    .overview-content .title, .overview-content p {
      color: #fff;
    }
  }
}
