body#article {
  background-color: $main;
}

#article {
  section.content {
    width: 90%;
    margin: 0 auto;
    max-width: 960px;
    min-height: 700px;
    padding-bottom: 75px;
    @media only screen and (min-width: $cut) {
      width: 80%;
    }
  }
  a {
    color: $blue;
  }
  h1:first-of-type {
    text-align: center;
  }
  p, h1, h2, h3, h4, h5, h6, ul li {
    font-family: Helvetica;
    color: white;
    padding: 0;
  }
  h4 {
    text-decoration: underline;
  }
  ul li {
    color: #FFF;
  }
  .highlighter-rouge {
    background-color: #151515;
    border-radius: 3px;
    padding: 3px 6px;
  }
  div.highlighter-rouge {
    padding: 10px;
    height: 100%;
  }
  pre.highlight {
    margin: 0;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
  code.highlighter-rouge {
    color: #c8102e;
    font-size: 14px;
  }
  blockquote {
    border-left: 4px solid $blue;
    border-radius: 2px;
    margin: 0;
    padding-left: 15px;
    margin-left: 5px;
    p {
      color: lighten($sec, 20%);
    }
  }
}
