#headline {
  position: relative;
  background-color: $main;
  width: 100%;
  height: 275px;
  max-height: 275px;
  overflow: hidden;
  .overlay {
    position: absolute;
    z-index: 2;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .image {
    position: absolute;
    z-index: 3;
    width: 100%;
    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }
  h1 {
    position: absolute;
    z-index: 4;
    width: 100%;
    text-align: center;
    color: #FFF;
    margin-top: 125px;
    font-size: 32pt;
    text-shadow: 7px 10px 15px rgba(10, 10, 10, 0.3);
  }
}

#article {
  background-color: $main;
  padding-top: 20px;
  section.content {
    width: 90%;
    margin: 0 auto;
    max-width: 960px;
    min-height: 700px;
    padding-bottom: 75px;
    @media only screen and (min-width: $cut) {
      width: 80%;
    }
  }
  a {
    color: $blue;
  }
  h1:first-of-type {
    text-align: center;
  }
  p, h1, h2, h3, h4, h5, h6, ul li {
    font-family: Helvetica;
    color: white;
    padding: 0;
  }
  h4 {
    text-decoration: underline;
  }
  ul li {
    color: #FFF;
  }
  code.highlighter-rouge {
    background-color: lighten($main, 75%);
    border-radius: 3px;
    padding: 3px 6px;
  }
  div.highlighter-rouge {
    background-color: #151515;
    padding: 10px;
    height: 100%;
    border-radius: 3px;
    box-shadow: 7px 10px 15px rgba(10, 10, 10, 0.2);
  }
  pre.highlight {
    margin: 0;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
  code.highlighter-rouge {
    color: #c8102e;
    font-size: 14px;
  }
  blockquote {
    border-left: 4px solid $blue;
    border-radius: 2px;
    margin: 0;
    padding-left: 15px;
    margin-left: 5px;
    p {
      color: lighten($sec, 20%);
    }
  }
}
