#contact {
  background-color: $main;
  padding-bottom: 50px;
  margin-bottom: -1px;
  .contact-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    .send-btn.loading {
      background-image: url('/assets/img/loader.gif');
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: center;
      color: transparent;
    }
    @media only screen and (min-width: $cut) {
      width: 80%;
    }
    h1, .profile-img {
      display: inline-block;
    }
    .profile-img {
      display: block;
      position: absolute;
      top: -50px;
      left: 50%;
      width: 125px;
      height: auto;
      border-radius: 50%;

      transform: translateX(-50%);
      @media only screen and (min-width: 769px) {
        width: 155px;
        left: 125px;
      }
    }
    .profile-icon {
      display: none;
      position: absolute;
      font-size: 55px;
      text-align: center;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      padding: 20px;
      top: -60px;
      left: 50%;
      z-index: 2;
      color: #FFF;

      transition-property: opacity;
      transition-duration: .10s;
      &#showAbout {
        background-color: $blue;
        animation: 2.5s infinite beat;
        animation-direction: alternate;
      }
      &#hideAbout {
        background-color: $red;
      }
      &.contact-hidden {
        pointer-events: none;
        opacity: 0;
      }
      @media only screen and (min-width: 769px) {
        display: block;
        left: 160px;
      }
    }
    .about-me {
      z-index: 1;
      margin-top: 65px;
      padding: 10px;
      border-radius: 9px;
      pointer-events: none;
      p {
        color: #FFF;
      }

      @media only screen and (min-width: 769px) {
        position: absolute;
        top: 10px;
        left: 215px;
        width: 75%;
        margin-top: 0 !important;
        background-color: white;

        transition-property: transform, opacity;
        transition-duration: 0.22s;
        transition-timing-function: ease-out;

        transform-origin: top left;
        &.contact-hidden {
          opacity: 0.4;
          transform: scale(0);
        }
        p {
          color: $main;
        }
      }
    }
    h1 {
      color: #FFF;
      text-align: center;
    }
    #pgp {
      margin-bottom: 15px;
    }
    #pgp span {
      color: #FFF;
      padding: 0 10px;
    }
    #pgp i {
      display: block;
      font-size: 15px;
      color: #DDD;
    }
    p.success {
      color: #FFF;
    }
    p.error {
      color: $red;
    }
    .showoff-button {
      background-color: transparent;
      margin: 0;
      margin-top: 30px;
    }
  }
  #filledMessage {
    display: none;
    color: #CCC;
  }
}

@keyframes beat {
  70%, 100% {
    transform: scale(1.2);
  }
  0%, 70% {
    transform: scale(1);
  }
}
