.footer {
  background: #FFF;
  padding: 10px;
  color: $main;
  min-height: 125px;
  .content {
    width: 90%;
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    @media only screen and (min-width: $cut) {
      width: 80%;
    }
  }
  .copyright {
    width: 100%;
    text-align: center;
  }

  .posts {
    flex: 1;
    .link {
      display: block;
    }
    .title {
      h1 {
        display: inline-block;
        margin: 0;
        margin-right: 15px;
        padding: 0;
      }
      .fa-rss {
        color: #ee802f;
        font-size: 25px;
      }
    }
  }

  .socials {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .sitemap-link {
      padding-right: 10px;
    }
    .footer-icons .icon {
      color: $main;
      width: 20px;
      height: 20px;
      font-size: 20px;
      padding: 10px;
      margin: 5px;
      border-radius: 50%;
      border: 2px solid $main;
      transition: all .33s;
      &:hover {
        color: #FFF;
        background: $main;
      }
      &:active {
        color: #FFF;
        background: $main;
      }
    }
  }
}
