.footer {
  background: #FFF;
  padding: 10px;
  color: $main;
  min-height: 125px;
  display: flex;
  justify-content: center;

  .content {
    width: 80%;
    display: flex;
  }

  .posts {
    flex: 1;
    .title {
      h1 {
        display: inline-block;
        margin: 0;
        margin-right: 15px;
        padding: 0;
      }
      .fa-rss {
        color: #ee802f;
        font-size: 25px;
      }
    }
  }

  .socials {
    flex: 2;
    .footer-icons {
      display: flex;
      .icon {
        color: $main;
        width: 20px;
        height: 20px;
        font-size: 20px;
        padding: 10px;
        margin: 5px;
        border-radius: 50%;
        border: 2px solid $main;
        transition: all .33s;
        &:hover {
          color: #FFF;
          background: $main;
        }
        &:active {
          color: #FFF;
          background: $main;
        }
      }
    }
  }
}
