.summary {
  display: flex;
  .intro {
    flex: 2;
    margin-right: 15px;
  }
  .insert {
    flex: 1;
    padding: 17px;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 7px 10px 15px rgba(10, 10, 10, 0.2);
    border: 0.5px solid $sec;
    overflow: hidden;
    h2 {
      color: $main !important;
      margin: 0;
      margin-bottom: 10px;
    }
    > div {
      margin: 0;
      div {
        margin-left: 20px;
      }
      a {
        display: block;
        text-decoration: none;
      }
    }
  }
}
