---
---

.buttons {
  display: flex;
  margin-top: 10px;
  .showoff-button {
    margin: 0;
    margin-right: 20px;
  }
}

.faq {
  text-align: center;
  display: inline-block;
  width: 100%;
}

h1 {
  margin-bottom: 0;
}
label {
  color: #FFF;
}
