<!DOCTYPE html>
<html lang="fr">
  {% include head.html %}
  <body>
    {% include nav_blog.html %}
    <div id="headline">
      <div class="overlay"></div>
      <div class="image">
        <img src="{{ page.image }}" alt="Image de l'article" />
      </div>
      <h1>{{ page.title }}</h1>
    </div>
    <div id="article">
      <section class="content">
        {{ content }}
      </section>

      <section class="contribute">
        <p>
          Cet article est sous license <a href="https://creativecommons.org/licenses/?lang=fr-FR" target="_blank">Creative Commons BY-NC-SA</a>. Il est ouvert à contribution en vous rendant sur ce lien :         <a href="https://github.com/Slals/slals.github.io/tree/master/{{ page.path }}" target="_blank">{{ page.title }}</a>
        </p>
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
