<!DOCTYPE html>
<html lang="fr">
  {% include head.html %}
  <body>
    <section id="sitemap">
      <div class="row">
        <div class="pages">
          <h1>Pages du site</h1>
          <ul>
          {% for page in site.pages %}
            {% unless page.url contains '/src' or page.url contains '/assets' or page.url contains 'robots.txt' %}
              <li>
                <a class="link" href="{{ page.url }}">{{ page.title }}</a>
              </li>
            {% endunless %}
          {% endfor %}
          </ul>
        </div>
        <div class="posts">
          <h1>Articles</h1>
          <ul>
          {% for post in site.posts %}
              <li>
                <a class="link" href="{{ post.url }}">{{ post.title }}</a>
              </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
